# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# DB
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.env

# Logs
logs/
*.log

# MLflow
mlruns/
mlartifacts/

# Tests
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Documentation - ignorer tous les .md sauf README.md
*.md
!README.md
